{%extends 'layout.html'%}


{%block content%}

<div class="container border m-auto p-4">
    <form action="{{url_for('users.admin_delete_user')}}" method='post'>
        <select name="selected_user" class="form-select " aria-label="Default select example">

            <option selected>select a user</option>
            {%for user in users%}
            <option value="{{user.id}}">{{user.email}}</option>
            {%endfor%}
        </select>


        <button class="btn btn-danger">Delete</button>
    </form>



</div>

{%if user %}
<!-- <div class = "container border p-2"> -->
<!-- <p class="display"> User {{user.username}} with email {{user.email}} was deleted successfully! </p> -->
<p>{{user.username}}</p>
<p>{{user.user_email}}</p>
{%else%}
<!-- </div> -->
{%endif%}
{%endblock%}