{%extends 'layout.html'%}


{%block content%}

<div class="container bg-white border">

    <div class="row">
        <div class="col-6">

            <small class="h5">Tag Post</small>

            <form class="input-group mt-2" method='post' action="{{url_for('admin.tag_user_post')}}">
                <select name="selected_user" class="form-select form-select-sm form-control-sm"
                    aria-label="Default select example">

                    <option selected>select a user post to tag</option>
                    {%for user in users%}
                    <option value="{{user.id}}">{{user.email}}</option>
                    {%endfor%}
                </select>

                <button class="btn btn-info btn-sm">Edit</button>
            </form>




        </div>
        <div class="col-6 mb-3">
            <small class="h5">Delete User</small>


            <form class="input-group mt-2" method='post' action="{{url_for('admin.admin_delete_user')}}">
                <select name="selected_user" class="form-select form-select-sm form-control-sm"
                    aria-label="Default select example">

                    <option selected>select a user to delete</option>
                    {%for user in users%}
                    <option value="{{user.id}}">{{user.email}}</option>
                    {%endfor%}
                </select>

                <button class="btn btn-danger btn-sm">Delete</button>
            </form>



            <!-- <div class="container m-0"> -->
            <!-- {%if deleted_user %} -->
            <!-- <div class = "container border p-2"> -->
            <!-- <small class=""> User {{deleted_user}} was deleted successfully! </small>

                {%else%} -->
            <!-- </div> -->
            <!-- {%endif%} -->
            <!-- </div> -->
        </div>
    </div>
</div>
<div class="container border bg-white mt-2">
    <div class="row">
        <div class="col-6">

            <small class="h5">Delete Post </small>

            <form class="input-group mt-2 mb-3 ml-2" method='post' action="{{url_for('admin.display')}}">
                <select name="selected_user" class="form-select form-select-sm form-control-sm"
                    aria-label="Default select example">

                    <option selected>select log to view</option>

                    <option value="registered_users">Registered User</option>
                    <option value="deleted_users">Deleted User</option>
                </select>

                <button class="btn btn-danger btn-sm">Delete</button>
            </form>




        </div>

        <div class="col-6">

            <small class="h5">Select Log </small>

            <form class="input-group mt-2 mb-3 ml-2" method='post' action="{{url_for('admin.display')}}">
                <select name="selected_user" class="form-select form-select-sm form-control-sm"
                    aria-label="Default select example">

                    <option selected>select log to view</option>

                    <option value="registered_users">Registered User</option>
                    <option value="deleted_users">Deleted User</option>
                </select>

                <button class="btn btn-success btn-sm">View Log</button>
            </form>




        </div>
        <!-- {%if user%}
        username: {{user.username}}
        email: {{ user.email }}

        {%endif%} -->
    </div>
    <div class="row">
        <div class="col ml-0 mt-2 mb-2">
            {%for post in posts%}
            <ul class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"> {{post.title}}</div>
                        {{post.content}}
                    </div>
                    <span class="badge bg-primary rounded-pill">{{user.id}}</span>
                </li>
            </ul>
            {%endfor%}
        </div>


        <div class="col ml-0 mt-2 mb-2">
            {%if registered_users%}
            {%for user in registered_users%}
            <ul class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"> {{user.username}}</div>
                        {{user.user_email}}
                    </div>
                    <span class="badge bg-primary rounded-pill">{{user.date_created}}</span>
                </li>
            </ul>
            {%endfor%}
            {%else%}
            {%if deleted_users%}
            {%for user in deleted_users%}
            <ul class="list-group list-group-numbered">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"> {{user.username}}</div>
                        {{user.user_email}}
                    </div>
                    <span class="badge bg-primary rounded-pill">{{user.date_created}}</span>
                </li>
            </ul>
            {%endfor%}
            {%endif%}
            {%endif%}
        </div>
    </div>
</div>



<!-- <div class="container border m-auto p-4">

    <form class="input-group" method='post' action="{{url_for('users.admin_delete_user')}}">
        <select name="selected_user" class="form-select form-control" aria-label="Default select example">

            <option selected>select a user</option>
            {%for user in users%}
            <option value="{{user.id}}">{{user.email}}</option>
            {%endfor%}
        </select>

        <button class="btn btn-danger">Delete</button>
    </form>

</div> -->






{%endblock%}