{%extends 'layout.html' %}

{%block content%}
<div class="container">

    {%if registered_users%}
    <p class='display-6'>Registered Users</p>
    {%for user in registered_users%}
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
                <div class="fw-bold"> {{user.username}}</div>
                {{user.user_email}}
            </div>
            <span class="badge bg-primary rounded-pill">{{user.date_created}}</span>
        </li>
    </ol>
    {%endfor%}
    {%else%}
    {%if deleted_users%}
    <p class='display-6'>Deleted Users</p>
    {%for user in deleted_users%}
    <ol class="list-group list-group-numbered">

        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold"> <a href="#" class="text-decoration-none text"> {{user.username}} </a>
                </div>
                {{user.user_email}}
            </div>
            <span class="badge bg-info rounded-pill">{{user.date_created}}</span>

        </li>
        </a>
    </ol>
    {%endfor%}
    {%endif%}
    {%endif%}
</div>

{%endblock%}